<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.sunmi.peripheral.printer.permission.PRINTER" />

    <queries>
        <package android:name="com.thefactory.hkapos.fiscal" />
        <package android:name="com.thefactory.hkapos.fiscal.demo" />
        <package android:name="com.thefactory.hkapos.fiscal.release" />
        <package android:name="com.thefactory.hkapos.fiscal.demo.demo" />
        <package android:name="woyou.aidlservice.jiuiv5" />
        <package android:name="com.sunmi.peripheral.printer" />
    </queries>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pos">
        <!--
            `usesCleartextTraffic` intentionally omitted: with targetSdk=36 and a
            `networkSecurityConfig` referenced, Android ignores this attribute on
            <application>. Effective cleartext policy is owned by
            `src/main/res/xml/network_security_config.xml` (release: denied) and
            `src/debug/res/xml/network_security_config.xml` (debug: permitted).
        -->
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Pos">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
